USE [master]
GO
/****** Object:  Database [RITDB]    Script Date: 02.08.2022 22:30:03 ******/
CREATE DATABASE [RITDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RITDB', FILENAME = N'D:\MS SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RITDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RITDB_log', FILENAME = N'D:\MS SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RITDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RITDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RITDB]
GO
/****** Object:  Table [dbo].[Markers]    Script Date: 02.08.2022 22:30:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Markers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Latitude ] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Markers] ON 

INSERT [dbo].[Markers] ([Id], [Latitude ], [Longitude], [Name]) VALUES (1, 1, 1, N'1Marker')
INSERT [dbo].[Markers] ([Id], [Latitude ], [Longitude], [Name]) VALUES (2, 20, 30, N'2Marker')
INSERT [dbo].[Markers] ([Id], [Latitude ], [Longitude], [Name]) VALUES (3, 30, 30, N'3Marker')
SET IDENTITY_INSERT [dbo].[Markers] OFF
GO
USE [master]
GO
